<div class="row">
    <div class="col s12">

        <div class="card cyan darken1 center-align">
            <div class="card-content white-text">

                <div class="card-title">
                    <h1>4<i class="mdi-action-highlight-remove"></i>4</h1>
                </div>
                <h3>Página não encontrada</h3>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s12 m6">
        <button class="btn btn-flat" ng-click="backToCart();">Back to Cart</button>
    </div>
</div>
